# ========================
# Node / NestJS / TypeScript
# ========================

# Node dependencies
*/node_modules

# Build output
*/dist
/build

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage / Testing
coverage
*.lcov
.jest/
.nyc_output/

# Local data / cache
tmp/
temp/
.cache/
pid/
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml
.docker/

# Localstack / AWS mocks
.localstack/

# Misc
*.tgz
